

main {
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    color:white;
    line-height: 1.5;
    
    margin: 0 auto;
    margin-top: 2.4rem;
}
p {
    padding: 0.5rem;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
    font-weight: 400;
}
.right {
    font-style: italic;
    text-align: right;
}
.font {
    font-size: 1.8rem;
}

footer {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 1.4rem;
    color: blueviolet;
    padding: 2.4rem;
    text-align: center;
}