

main {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    margin-top: 2.4rem;
    line-height: 2.0rem;
    width: 90%;
    margin: 0 auto;
  
}

main article {
    margin-top: 1.6rem;
    color: var(--text-color);
}
article p {
    line-height: 1.5;
    padding: 0.5rem;
}
.italic {
    font-style: italic;
    text-align: center;
}
.wght {
    font-weight: 400;
    text-align: justify;
}
section {
    font-style: italic;
    color: var(--text-color);
    margin-top: 3.6rem;
    

}
#todascartas {
    display: flex;
    flex-direction: row;
    margin: 3.2rem auto;
    gap: 0.8rem;
    justify-content: center;
}

#todascartas img {
    width: 6.4rem;
}

figcaption a {
    color: var(--text-color);
   
}
a{
    color: white;
}
footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
    color: blueviolet;
    padding: 1.6rem;
    margin-top: 1.0rem;
}


.light {
    --text-color: black;
    --text-bgcolor: rgb(210, 197, 221);
    --bg-ulli-color: rgb(144, 116, 180);
    --border-color: rgb(114, 55, 153);
    --surface-color-hover: rgb(114, 55, 153);

}

