

main {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    margin-top: 2.4rem;
    line-height: 2.0rem;
    width: 90%;
    margin: 0 auto;
  
}

main article {
    margin-top: 1.6rem;
    color: var(--text-color);
}
article p {
    line-height: 1.5;
    padding: 0.5rem;
}
.italic {
    font-style: italic;
    text-align: center;
}
.wght {
    font-weight: 400;
    text-align: justify;
}
.left {
   text-align: left;
}
section {
    display: block;
   
    color: var(--text-color);
    margin-top: 3.6rem;
    

}
#todascartas {
    display: block;
    line-height: 1.5;
    margin: 0 auto;
    gap: 0.8rem;
    justify-content: center;
    margin-bottom: 1.6rem;
}

a{
    font-size: 1.8rem;
    color: rgb(33, 155, 163);
    text-decoration: none;
}



.light {
    --text-color: black;
    --text-bgcolor: rgb(210, 197, 221);
    --bg-ulli-color: rgb(144, 116, 180);
    --border-color: rgb(114, 55, 153);
    --surface-color-hover: rgb(114, 55, 153);

}

