

main {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

article {
    width: 90%;
    margin-top: 3.6rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 100;
    padding: 0.8rem;
}


main .carta p {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
}

main .carta img {
    width: 20.0rem;
    height: 10.0rem;
    display: flex;
    margin: 0 auto;
}

footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
    color: blueviolet;
    padding: 1.6rem;
    margin-top: 1.0rem;
}


.light {
    --text-color: black;
    --text-bgcolor: rgb(210, 197, 221);
    --bg-ulli-color: rgb(144, 116, 180);
    --border-color: rgb(114, 55, 153);
    --surface-color-hover: rgb(114, 55, 153);

}

   

