* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: aquamarine;
    width: 80%;
    margin: 0 auto;
}


header nav {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1.6rem;
}
header nav ul {
  padding: 0;
}
header nav ul li {
    font-family: 'Satisfy';
    font-weight: 100;
    font-size: 1.8rem;
    background-color:var(--bg-ulli-color);
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    display: inline-block;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
}
header nav a {
    text-decoration: none;
    color: var(--text-color);
}
main {
    width: 80%;
   
    margin: 0 auto;
}
p { 
    font-family: 'Satisfy', cursive;
    font-size: 4.8rem;
    margin: 0 auto;
    color:black;
    text-align: center;
    margin-top: 17.0rem;

}
script {
    color: rgb(179, 134, 221);
}

@media (max-width: 400px) {
    body {
        width: 80%
    }
    p {
    width: 90%;
    font-family: 'Satisfy', cursive;
    font-size: 3.0rem;
    margin: 0 auto;
    color:black;
    text-align: center;
    white-space: nowrap;
    margin-top: 15.0rem;
    display: flex;
    justify-content: center;
    }
}