
#iframe iframe  {
    
    max-width: 80%;
    display: flex;
    margin: 3.6rem auto;
}

main {
    width: 90%;
    margin: 0 auto;
}

article {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    color: white;
    line-height: 1.5;
}
p {
    padding: 0.5rem;
}
.italic {
    font-style: italic;
    font-size: 1.8rem;
}
.wght {
    font-weight: 400;
}
.detal {
    letter-spacing: 0.2rem;
}
.p{ 
    font-size: 1.6rem;
    color: white;
}
.font {
    font-size: 1.8rem;
}
.font a {
    color: rgb(215, 188, 236);
}

main ul {
    margin-top: 2.4rem;
}

main ul li a {
    color: rgb(215, 188, 236);
    font-size: 1.6rem;
    text-decoration: none;
}
main ul li:visited {
    color: rgb(142, 41, 236);

}
footer {
    text-align: center;
    font-family: 'open sans';
    font-size: 1.4rem;
    color: blueviolet;
    padding: 1.6rem;
    font-weight: 100;
}
