* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  * {
    font-family: 'inter', sans-serif;
    color: white;
}
body {
    background-color: rgb(31, 14, 41);
    width: 36.0rem;
    padding: 2.4rem;
    margin: 1.6rem auto 0;
}
header {
    width: 36.0rem;
    padding: 0.8rem;
    font-family: 'inter';
    margin-left: -2.5rem;
}
header h1 {
    background: rgb(28, 18, 37);
    border: 1px solid rgb(48, 31, 69);
    border-radius: 1.0rem 6.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 2.0rem;
}
header nav a {
    text-decoration: none;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.8rem;
}
header nav li {
    list-style: none;
    background: rgb(28, 18, 37);
    border: 1px solid rgb(48, 31, 69);
    border-radius: 0.8rem;
    padding: .3rem;
}
header nav li:hover  {
    background: rgb(48, 21, 63);
    border: 1px solid rgb(69, 28, 160);
    transform: scale(1.1);
}
#iframe {
    height: 15.0rem;
    margin: 0.8rem auto auto 6.0rem;
    display: flex;
    align-items: center;
}
#article {
    font-family: 'inter';
    font-size: 1.2rem;
    text-align: justify;
}
footer {
    font-family: 'inter';
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    margin-top: 1.6rem;
}
@media (min-width: 700px) {
    * {
        margin:0;
        padding: 0;
    }    
    body {
        max-width: 90%;
    }
    header {
        width: 1008px;
        margin: -18px auto auto -240px;
    }
    main {
        display: flex;
        gap:10px;
        max-width: 1000px;
    }
    #iframe {
        width: 200px;
        height: 300px;
        margin-left: -250px;
    }
    #article {
        width: 600px;
        margin-right: -200px;
    }

    footer {
        font-size: 14px;
    }
}   

