
main {
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0 auto;

}
main > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: white;
    margin: 2.4rem auto;
    text-align: center;
    padding: 0.8rem;
    font-weight: 100;
    
}
main a {
    font-size: 1.6rem;
    color: rgb(215, 188, 236);
    display: flex;
    flex-direction: column;
    padding:0.5rem;
    text-decoration: none;
}

main a:visited {
    color: rgb(180, 123, 233);

}


footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: blueviolet;
    margin-top: 35.0rem;
}

