
main {
    text-align: center;
    font-size: 1.6rem;
   
    color: white;
}
main > p {
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0.8rem;
}
article > p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0.8rem;
}
.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 1.5;
    margin-top: 3.6rem;
}
.margin {
    margin-top: 1.6rem;
}
.font {
    font-size: 1.8rem;
}
.italic {
    font-style: italic;
}
.wght {
    font-weight: 400;
}
.justify {
    text-align: justify;
}



footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    color:blueviolet;
    margin-top: 2.4rem
}
